<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/css/style.css">
  <title>Money Coins</title>
  <style>
    body {
    background-color: #DCDCDC; /* Gray background */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background for the container */
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect for the container */
}

h1 {
    color: 	#90EE90; /* Green color for h1 elements */
    margin-bottom: 10px;
}

.list-group {
    list-style: none;
    padding: 0;
}

.list-group-item {
    background-color: #fff; /* White background for list items */
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid #ddd; /* Border for list items */
    border-radius: 4px; /* Rounded corners for list items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect for list items */
}

.list-group-item:first-child {
    border-top-left-radius: 4px; /* Rounded corners for the first list item */
    border-top-right-radius: 4px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 4px; /* Rounded corners for the last list item */
    border-bottom-right-radius: 4px;
}

  </style>
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Top 10 Criptomoedas</h1>
    <ul class="list-group">
      <% criptos.forEach((cripto, index) => { %>
        <li class="list-group-item">
          <%= index + 1 %>. <%= cripto.name %> ( <%= cripto.symbol %> ) - Valor em USD: <%= cripto.current_price %>
        </li>
      <% }); %>
    </ul>

    <h1 class="mt-5 mb-4">Top 10 NFTs</h1>
    <ul class="list-group">
      <% if (nfts && nfts.length > 0) { %>
        <% nfts.forEach((nft, index) => { %>
          <li class="list-group-item">
            <%= index + 1 %>. <%= nft.name %> - Plataforma: ( <%= nft.asset_platform_id %> )   Contrato: <%= nft.contract_address %>
          </li>
        <% }); %>
      <% } else { %>
        <li class="list-group-item">Nenhum NFT encontrado.</li>
      <% } %>
    </ul>
  </div>

  <!-- ... (bootstrap script remains unchanged) ... -->
</body>
</html>
